@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: url("/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*  dark mode for scrolling  */

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: #555;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #242424;
}